.background{
    -fx-background-image: url("//src/loginBg.jpeg");
    -fx-background-size: cover;
}

#pleaseLogLabel{
    -fx-margin-bottom: 20px;
    -fx-font-family: Arial;
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.button{
    -fx-cursor: hand;
}