#logInButton{
    -fx-background-color: #4CAF50;
    -fx-font-size: 20;
}

#message{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.button{
    -fx-cursor: hand;
}


#messageLabel{
    -fx-font-size: 20px;
}
